:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100vw;
  margin-bottom: 20px;
}
.dot-active {
  background-color: red;
}